<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="main_logo navbar-brand" href="#">Treebook</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<!-- Icons won't scale correctly in this case, thus, we use a bootstrap special class "icon-bar". -->
					<!-- <i class="fa fa-bars"></i>	 -->
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				</button>
					<!-- <img src="assets/logo.png" alt="" class="logo"> -->
			</div>
				
			<div class="menu collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "All Statuses", statuses_path %></li>
					
					<!-- Comment. Controller filters and helpers from devise -->
					<% if user_signed_in? %>						
          				<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
          				<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          			<% else %>
          				<li><%= link_to "Log In", new_user_session_path %></li>
          				<li id="join_now"><%= link_to "Registrate Ahora", new_user_registration_path %></li>	
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<!-- End navbar -->


	<div class="container">
		<!-- From Gem Devise -->	
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<!-- From Gem Devise -->	

		<%= yield %>
	</div>

</body>
</html>
